---
import { LockIcon } from "../lib/icons.tsx";

---

<div class="px-8 h-16 flex items-center">
    <a href="/" class="after:content-['blog'] after:bg-white after:text-midnight after:leading-6 after:text-[0.9rem] after:px-2 after:inline-block after:rotate-12 after:absolute after:-right-12 hover:after:rotate-0 relative text-xl sm:text-2xl hover:text-marrsgreen dark:hover:text-carrigreen focus-visible:outline-marrsgreen dark:focus-visible:outline-carrigreen">
        <p class="font-normal inline items-end">iDaniel<strong class="font-normal text-golden-poppy">.dev</strong></p>
    </a>
</div>