---
import { LocationIcon, LockOpenIcon, SearchIcon } from "../lib/icons.tsx";

const { unlockFlag } = Astro.props;

// Get now date in format Day, Month Day Year
const now = new Date();
const nowDate = now.toLocaleDateString("en-US", {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
});
---

<div class="w-full mt-2">
    <div class="flex justify-between py-2 items-center text-sm">
        <ul
            class="flex font-medium text-black divide-x divide-black/30 gap-2"
        >
            <li>
                <a href="https://findata.vercel.app/" target="_blank" rel="noopener noreferrer" >Findata</a>
            </li>
            <li class="pl-2">
                <a href="">Findata</a>
            </li>
        </ul>
        <div class="flex gap-4 items-center text-xs">
            {
                !unlockFlag && (
                    <p class="text-red font-bold tracking-widest flex items-center gap-1.5 font-sans">
                        <span class="w-1.5 h-1.5 rounded-full bg-red inline-block animate-ping" />{" "}
                        LIVE
                    </p>
                )
            }
            <p>{nowDate}</p>
            {
                !unlockFlag ? (
                    <a href="/unlock" class="text-highlight font-bold font-sans">
                        <LockOpenIcon className="inline h-3.5 w-auto -mt-1.5" />{" "}
                        UNLOCK
                    </a>
                ) : (
                    <p class="text-red font-bold tracking-widest flex items-center gap-1.5 font-sans">
                        <span class="w-1.5 h-1.5 rounded-full bg-red inline-block animate-ping" />{" "}
                        LIVE
                    </p>
                )
            }
        </div>
    </div>
    <hr class="text-black/30" />
    <div class="flex justify-between py-5 items-center">
        <div>
            <a
                href="/"
                class="after:content-['blog'] after:bg-black after:text-white after:leading-6 after:text-[0.9rem] after:px-2 after:inline-block after:rotate-12 after:absolute after:-right-12 hover:after:rotate-0 relative text-xl sm:text-2xl"
            >
                <h1 class="font-normal inline items-end">
                    iDaniel<strong class="font-normal text-highlight"
                        >.dev</strong
                    >
                </h1>
            </a>
            <p class="text-sm flex items-center gap-1 -mt-1">
                <LocationIcon className="h-2.5 w-auto" />Colombia
            </p>
        </div>
        <div class="text-sm text-right">
            <p class="font-semibold">National University of Colombia</p>
            <p class="font-light -mt-0.5">Systems Engenieering</p>
        </div>
    </div>
    <hr class="text-black/30" />
    <nav class="flex py-3 items-center text-sm justify-between relative">
        <ul class="flex gap-3 font-sans text-xs underline-offset-2">
            <li>
                <a href="" class="relative after:w-full after:content-[''] after:absolute after:-bottom-[3px] after:left-0 hover:after:bg-black after:h-0.5 after:rounded-sm">About</a>
            </li>
            <li>
                <a href="" class="relative after:w-full after:content-[''] after:absolute after:-bottom-[3px] after:left-0 hover:after:bg-black after:h-0.5 after:rounded-sm">Projects</a>
            </li>
            <li>
                <a href="" class="relative after:w-full after:content-[''] after:absolute after:-bottom-[3px] after:left-0 hover:after:bg-black after:h-0.5 after:rounded-sm">Blog</a>
            </li>
            <li>
                <a href="" class="relative after:w-full after:content-[''] after:absolute after:-bottom-[3px] after:left-0 hover:after:bg-black after:h-0.5 after:rounded-sm">Resources</a>
            </li>
        </ul>
        <div>
            <SearchIcon className="h-4 w-auto" />
        </div>
    </nav>
    <hr class="text-black mb-[3px]" />
    <hr class="text-black" />
</div>
