---
import Layout from "../layouts/Layout.astro";
import EditorNote from "../components/EditorNote.astro";
let unlockFlag = false;

if (Astro.cookies.has("session")) {
    const headers = new Headers();
    headers.append("Cookie", Astro.cookies.get("session")!.value);
    const response = await fetch(Astro.url + "/api/verify", {
        method: "GET",
        headers: headers,
    });
    if (response.status === 200) {
        unlockFlag = true;
    } else {
        Astro.cookies.delete("session");
    }
}
---

<Layout title="Daniel Castillo: Solution Developer" unlockFlag={unlockFlag}>
    <main class="w-full mt-5">
        <div class="grid grid-cols-10 w-full divide-x divide-black/30 gap-4">
            <div class="col-span-7">
                <div class="grid grid-cols-12 w-full">
                    <div class="col-span-4">
 
                    </div>
                    <div class="col-span-8">

                    </div>
                </div>
                <hr class="text-black/30" />
                <div class="w-full grid grid-cols-2 divide-x divide-black/30 gap-4">
                    <div></div>
                    <div class="pl-4"></div>
                </div>
            </div>
            <div class="col-span-3 pl-4">
                <EditorNote unlockFlag={unlockFlag} />
            </div>
        </div>
    </main>
</Layout>
