---
import Layout from "../layouts/Layout.astro";
import EditorNote from "../components/EditorNote.astro";
import SideVideoArticle from "../components/SideVideoArticle.astro";
let unlockFlag = false;

if (Astro.cookies.has("session")) {
    const headers = new Headers();
    headers.append("Cookie", Astro.cookies.get("session")!.value);
    const response = await fetch(Astro.url + "/api/verify", {
        method: "GET",
        headers: headers,
    });
    if (response.status === 200) {
        unlockFlag = true;
    } else {
        Astro.cookies.delete("session");
    }
}
---

<Layout title="Daniel Castillo: Solution Developer" unlockFlag={unlockFlag}>
    <main class="w-full mt-5">
        <div class="grid grid-cols-10 w-full divide-x divide-black/30 gap-4">
            <div class="col-span-7">
                <div class="grid grid-cols-12 w-full">
                    <div class="col-span-4">
 
                    </div>
                    <div class="col-span-8">

                    </div>
                </div>
                <hr class="text-black/30" />
                <div class="w-full grid grid-cols-2 divide-x divide-black/30 py-5">
                    <div class="pr-6">
                        <h3 class="font-bold text-lg mb-1">Professional, System Engineer</h3>
                        <p class="font-sans text text-black/70 mb-0.5">Universidad Nacional de Colombia</p>
                        <p class="font-sans text-sm text-black/70"><strong class="font-semibold">#2</strong> in <strong class="font-semibold">Best Universities in Colombia</strong>*</p>
                        <span class="font-sans text-sm font-light text-black/70">2021-2025</span>
                    </div>
                    <div class="pl-6">
                        <h3 class="font-bold text-lg mb-1 w-4/5 leading-6.5">Associate, Tecnico en Analisis y diseño de Software</h3>
                        <p class="font-sans text text-black/70 mb-0.5">Centro de Sistemas de Antioquia</p>
                        <span class="font-sans text-sm font-light text-black/70">2019-2020</span>
                    </div>
                </div>
                <hr class="text-black/30" />
            </div>
            <div class="col-span-3 pl-4">
                <EditorNote unlockFlag={unlockFlag} />
                <SideVideoArticle author="shots.so" className="mt-5" title="Shots.so Create Amazing Mockups —Your Time Saving Design Companion" description="Shots.so is a free online tool that will help you create beautiful mockups with just a few clicks." video={{src: "/image/resource/shotsso.mp4"}} link={{href: "https://shots.so", blank: true}} type="resource" />
            </div>
        </div>
    </main>
</Layout>
