---
interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description ? description : "Daniel: Web Developer & Tech Explorer. Explore a portfolio showcasing innovative projects in web development and data science. Collaborative problem-solver dedicated to practical solutions. Join me on a journey of continuous learning and impactful digital experiences."} />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title}</title>

        <!-------------------- Addons -------------------->

        <!-- Google Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="bg-white text-black min-w-screen min-h-screen font-serif">
        <slot />
    </body>
</html>
