---
interface Props {
    title: string;
    unlockFlag: boolean;
    description?: string;
}

const { title, unlockFlag, description } = Astro.props;

import Nav from "../ui/Nav.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- SEO -->
        <meta name="description" content={description ? description : "Daniel: Web Developer & Tech Explorer. Explore a portfolio showcasing innovative projects in web development and data science. Collaborative problem-solver dedicated to practical solutions. Join me on a journey of continuous learning and impactful digital experiences."} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <meta property=”og:description” content=""/>
        <meta property=”og:url” content="https://idaniel.dev/" />
        <meta property=”og:image” content=”https://tusitio.com/wp-content/uploads/2020/04/marketing-de-contenidos.jpg” />
        <meta name=”twitter:title” content="70 char" />
        <meta name=”twitter:description” content="200 char" />
        <meta name=”twitter:url” content=”http://www.tusitio.com” />
        <meta name=”twitter:image” content=”http://www.tusitio.com/nombre-de-la-imagen.jpg” />
        <link rel="canonical" href="https://idaniel.dev" />
        <meta name=”robots” content="index, follow">
        <meta name="keywords" content="development, developer, desarrollador colombia, webpage, code, ux, ui, api, portfolio, dev, idaniel.dev, daniel castillo giraldo"/>


        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        

        <!-------------------- Addons -------------------->

        <!-- Google Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body
        class="bg-white text-black min-w-screen min-h-screen scrollbar-thin scrollbar-thumb-black scrollbar-rounded hover:scrollbar-thumb-black font-serif"
    >
        <div class="max-w-7xl mx-auto px-5 sm:px-10">
            <Nav unlockFlag={unlockFlag} />
            <slot />
        </div>
    </body>
</html>
